# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
venv/
conda/

# Data files
*.csv
*.data
*.rar
data/
datasets/

# Ignore raw data text files only
data/**/*.txt
datasets/**/*.txt
gait-in-parkinsons-disease-1.0.0/

# Models & outputs
*.pt
*.pth
*.ckpt
checkpoints/
outputs/
logs/

# OS
.DS_Store